<?xml version="1.0"?>
<manifest package="com.biblex.app" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="-- %%INSERT_VERSION_NAME%% --" android:versionCode="-- %%INSERT_VERSION_CODE%% --" android:installLocation="auto">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="28" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="true"/>

    <!-- Support for various screen sizes -->
    <supports-screens android:largeScreens="true"
                      android:normalScreens="true"
                      android:anyDensity="true"
                      android:smallScreens="true"/>

    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->

    <application android:hardwareAccelerated="true"
                 android:name="org.qtproject.qt.android.bindings.QtApplication"
                 android:label="-- %%INSERT_APP_NAME%% --"
                 android:extractNativeLibs="true"
                 android:requestLegacyExternalStorage="true"
                 android:allowBackup="true"
                 android:fullBackupContent="true">

        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
                  android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="-- %%INSERT_APP_NAME%% --"
                  android:screenOrientation="unspecified"
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Application arguments -->
            <!-- %%INSERT_APP_ARGUMENTS -->

            <meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
            <meta-data android:name="android.app.extract_android_style" android:value="minimal"/>
        </activity>

        <!-- File provider for sharing files (Android 7.0+) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.biblex.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

    <!-- Qt 6.7+ requires API 28 minimum (Android 9.0) -->
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="-- %%INSERT_TARGET_SDK_VERSION%% --"/>
</manifest>
